.center {
  text-align: center;
}


.transparentbox {
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  border-radius: 20px;
  background:rgba(0,0,0,0.25);
}

.login-label {
  margin-bottom: 0px;
  font-weight: bold;
}

.container {
 background-image: url("/img/giphy.gif");
 background-repeat: no-repeat;
 border-radius: 20px;
}

@media only screen and (max-width: 670px) {
.container {
 background-image: url("/img/giphy.gif");
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center;
  }
}

body {
  background-image: url("/img/skulls.png");
}

.row {
  color: white;
  margin-top: 30%;
  background:rgba(0,0,0,0.25);
  border-radius: 20px;
}
